body{
    background: #ccc;
}
#Header a:hover{
    color:rgb(236, 231, 152);
}

#bg-img
{
    background: url('../img/main.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 600px;
}
#About{
    margin-top: -200px;
}
#About .fa{
    color: #fff;
}
#About span{
    padding:10px 20px 10px 20px;
}
#About hr{
    color:red;
    border-width: 3px;
    margin-top:6px;
    opacity:0.9;
}

#Skills span{
    padding:10px 20px 10px 20px;
}
#Skills hr{
    color:rgb(0, 47, 255);
    border-width: 3px;
    margin-top:6px;
    opacity:0.9;
    
}

#Experience span{
    padding:10px 20px 10px 20px;
}
#Experience hr{
    color:green;
    border-width: 3px;
    margin-top:6px;
    opacity:0.9;
}

#Experience .card{
    border-top: 3px solid rgb(250, 136, 29);
}

#Contact span{
    padding:10px 20px 10px 20px;
}
#Contact hr{
    color:black;
    opacity:0.9;
    border-width: 3px;
    margin-top:6px;
}